.button {
    display: inline-block;
    width: 217px;
    height: 56px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $color;
    background-color: #0e8784;
    border: none;
    border-radius: 6px;

}

.button:hover {
    background-color: #66D2CF;
} 


@include breackpoint-down(576px) {

    .button {
        display: block;
        width: 217px;
        height: 56px;
        margin: 0 auto;
    }
    
}